:root {
  /****colors*****/
  --blue-dark: #1f2833;
  --teal-light: #66fcf1;
  --teal-dark: #45a29e;
  --white: #c5c6c7;
  --black: #0b0c10;

}

body {
  background-color: var(--black);
}

p {
  color: var(--white);
}

.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  max-width: 1440px;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/***** Home ******/

#home-title {
  color: var(--teal-light);
  font-size: 100px;
}

.section-title {
  color: var(--teal-light);
  font-size: 50px;
}

#home-bio {
  color: var(--white);
}

#bio-pic {
  border-radius: 500px;
}

/****** About *****/
#about-bio {
  color: var(--white);
}

#about-me-section {
  background-size:cover;
  height: 500px;
  opacity: 50%;
}

/****** Experience *****/



/***** Projects ******/

